<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="twitter-user">
        <p><%= @twitter_user.name %></p>
        <p><%= @twitter_user.page_address %></p>      
        <p><%= @twitter_user.username %></p>
        <p><%= @twitter_user.description %></p>
      </div>
    </div>
  </div>
</div>